:local(.app) {
  user-select: none;
}

:local(.container) {
  left: 50px;
  padding: 20px;
  top: 50px;
}

:local(.label) {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

:local(.switch) {
  flex-shrink: 0;
  margin-right: 10px;
}
