:local(.app) {
  user-select: none;
}

:local(.example) {
  padding: 30px;
}

:local(.label) {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

:local(.resizable) {
  align-items: center;
  border: 1px dotted #ccc;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

:local(.switch) {
  flex-shrink: 0;
  margin-right: 10px;
}
