{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": 0,
    "max-len": 0,
    "new-cap": 0,
    "no-trailing-spaces": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/prop-types": 0,
    "react/sort-comp": 0,
    "react/wrap-multilines": 0,
    "spaced-comment": 0
  }
}
