@import './variables';

:local(.listValue) {
  align-items: center;
  display: flex;
}

:local(.listValueArrow) {
  color: $color-lightGray;
  font-size: $fontSize-medium;
  margin-left: $spacing-large;
}

:local(.listValueText) {
  color: $color-gray;
  font-size: $fontSize-medium;
}

:local(.settingCell) {
  align-items: center;
  display: flex;
  font-size: $fontSize-medium;
  height: $spacing-cellHeight;
  justify-content: space-between;
  padding-right: $spacing-large;

  &:not(:first-child) {
    border-top: 1px solid $color-border;
  }
}
