$color-blue: #007aff;
$color-body: #efeff4;
$color-border: scale-color(#a7a7aa, $lightness: 50%);
$color-gray: #8e8e93;
$color-header: #f6f6f8;
$color-lightGray: #c7c7cc;

$fontSize-medium: 17px;
$fontSize-small: 12px;

$spacing-cellHeight: 44px;
$spacing-large: 15px;
$spacing-medium: 7px;
$spacing-small: 5px;
$spacing-statusBarHeight: 20px;
